---
layout: default
title: IDC Innovators - Agile Code Development Technologies, 2018
suppress_header: true
extra_css:
  - styles-2018.css
destination_url: "https://page.gitlab.com/rs/194-VVC-221/images/IDC-Innovators-Agile-Code-Development-Technologies-2018.pdf"
form_id: "1002"
form_type: "resources"
cta_title: "Download the report"
cta_date: 
cta_subtitle: 
link_text: "Click here to download the report."
success_message: "You will also receive a copy of the report sent to your inbox shortly."
---

.wrapper
  .page-illustrated-header-container
    = partial "includes/icons/gitlab-icon-pattern-header.svg"
    .container
      .header-container-content
        %h1.page-headline IDC Innovators Agile Code Development Technologies, 2018
        %h2.page-subtitle by International Data Corporation

  .content-container
    .wrapper.container{ role: "main" }
      .row
        .col-xs-12.col-md-6.col-md-offset-1
          .content-section
            %img{ src: "/images/logos/idc-innovator.png", alt: "Gitlab IDC Innovator png" }
            %p.margin-top20 Innovative DevOps teams are embracing the latest technologies to accelerate their development practices. It's no surprise that focusing on emerging vendors in the agile code development market is a priority to dramatically streamline their update process.
            %p International Data Corporation published an IDC Innovators report on the agile code development space to help IT professionals, business executives, and the investment community make fact-based decisions on their DevOps technology investments.
            %p Download the full report to learn why GitLab was chosen as an IDC Innovator, including an overall assessment, key differentiators, challenges in the market, and related research.

        .col-md-4.col-md-offset-1
          = partial "includes/form-to-resource"
